<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tela de cadastro</title>
<!--   <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
 -->
</head>
<body>
  <form class="row g-3">
    <div class="col-md-4">
      <label for="cpf" class="form-label">CPF</label>
      <input type="CPF" class="form-control" id="CPF">
    </div>
    <div class="col-md-8">
      <label for="nome" class="form-label">Nome</label>
      <input type="nome" class="form-control" id="nome">
    </div>
    <div class="col-md-6">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email">
    </div>
    <div class="col-md-6">
      <label for="celular" class="form-label">Celular</label>
      <input type="celular" class="form-control" id="celular">
    </div>
    <div class="col-md-6">
      <label for="senha" class="form-label">senha</label>
      <input type="password" class="form-control" id="senha">
    </div>
    <div class="col-md-6">
      <label for="confirmarSenha" class="form-label">Repetir Senha</label>
      <input type="password" class="form-control" id="confirmarSenha">
    </div>


    <div class="col-12">
      <button type="submit" class="btn btn-success">Cadastrar</button>
    </div>
  </form>

</body>
</html>
